<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">		
		<div class="modal-content">
			<div class="modal-header" style="background-color:darkviolet">
				<h1 class="modal-title" style="text-align:center; color:midnightblue">ADD Workitem</h1>
			</div>
			<div class="modal-body" style="padding-left:150px; background:center; background-color:pink">
				<div>
					<div>
						<div style="text-align:left">Title :</div>
						<input class="form-control" id="Title" type="text" />
					</div>
					<div>
						<div style="text-align:left">Status :</div>
						<input class="form-control" id="Status" type="text" />
					</div>
					<div>
						<div style="text-align:left">Created Date :</div>
						<input class="form-control" id="CreatedDate" type="date" />
					</div>
					<div>
						<div style="text-align:left">Completed Date :</div>
						<input class="form-control" id="CompletedDate" type="date" />
					</div>
				</div>
			</div>
			<div class="modal-footer">
					<button class="btn btn-success btn-lg" type="submit" id="btnAdd" oclick='addItem(this)' data-dismiss="modal">ADD SURVEYITEM</button>
				
			</div>
			
		</div>
	</div>
</div>

